@charset "UTF-8";

header {
    width: 100%;
    height: 60px;
    background-color: black;
    position: fixed;
    display: flex;
    justify-content: space-between;
}
.icon {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 50px;
}
.nametag {
    width: 50px;
    height: 50px;
    padding-left: 30px;
}
.icon a {
    color: white;
    font-size: 30px;
    font-family: fantasy;
    padding-left: 30px;
    text-decoration: none;
}
.header-right {
    display: flex;
    height: 30px;
    padding-right: 80px;
    padding-top: 25px;
}
.header-right span,
.header-right span::before,
.header-right span::after {
    width: 30px;
    height: 5px;
    background-color: gray;
    border-radius: 2px;
    display: block;
    position: relative;
    transition: 1s;
    cursor: pointer;

}
.header-right span::before {
    display: block;
    position: absolute;
    content: '';
    top: -9px;
}
.header-right span:hover {
    background-color: gold;
}

.header-right:hover span::before {
    background-color: red;
}

.header-right:hover span::after {
    background-color: blue;
}
.header-right span::after {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
}
.first {
    background-image: url(../img/IMG_0013\ 2.jpeg);
    height: 900px;
    width: 100%;
    background-size: cover;
    animation: bgimg 25s infinite;
    
}
.first h1 {
    color: black;
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 120px;
    text-align: center;
    text-shadow: 5px 5px 1px lightgray;
}
.first h2 {
    color: black;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.first h2 a {
    text-decoration: none;
}
.second {
    display: flex;
    flex-direction: column;
}
.second h1 {
    height: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    text-shadow: 5px 5px 1px lightgray;
}
li {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.second li {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}
.second p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.second-under {
    justify-content: center;
    
}
.second-under h1 {
    border-top: solid 2px black;
}
.second-under img {
    border-radius: 100px;
    display: flex;
}
.second-under span {
    padding-top: 20px;
}
.hobby-img {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
}

.hobby-img span {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.hobby-img span:hover {
    color: dimgray;
    cursor: pointer;
}
.hobby-img li:nth-child(odd) {
    padding: 0 40px 0 40px;
}
@keyframes bgimg {
    0% {
        background-size: cover;
        background-image: url(../img/IMG_0013\ 2.jpeg);
    }
    20% {
        background-size: cover;
        background-image: url(../img/DD305380-745E-4813-82C9-0C22C6183C95.jpeg);
    }
    50% {
        background-size: cover;
        background-image: url(../img/IMG_3196.jpg);
    }
    80% {
        background-size: cover;
        background-image: url(../img/9B4B3DB1-9B6E-45A5-84A0-49A165681952.jpg);
    }
    100% {
        background-size: cover;
        background-image: url(../img/IMG_1821.jpeg);
    }

}
footer {
    width: 100%;
    height: 60px;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
}
.fab {
    margin: 25px;
    align-items: center;
    padding-left: 50px;
}
.footer-right {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-right: 50px;
    

}
